---
import Layout from "../../layouts/Layout.astro"
import book from '../../assets/Bottle.png';
import AuthorContent from "../../components/AuthorContent.vue";
---


<Layout>
    <main class="m-4">
        <div class="flex justify-center items-center gap-16 py-20">
          <h1 class="text-6xl font-extrabold text-center">
            Astro
            <span class="block">Authors</span>
          </h1>
          <img transition:name="image-book" class="h-28 w-auto" src={book.src} alt="Book Image">
        </div>
        <div class="flex justify-end items-center gap-16 py-20">
          <a href="Authors/create-author" class="text-green-500 border border-green-500 rounded-lg hover:text-white dark:hover:bg-green-600 px-5 py-2.5 text-center me-2 mb-2 text-sm">
            Add Author
      
          </a>
        </div>
    </main>

    <AuthorContent server:defer>
        <span slot="fallback" class="text-xl opacity-70">Searching in the Library...</span>
    </AuthorContent>
</Layout>