---
import Layout from "../../../layouts/Layout.astro";
---

<Layout>
    <div class="w-full h-screen grid grid-cols-2 grid-rows-1 gap-4">
        <div class="flex items-center justify-center">xd</div>
        <div class="flex items-center justify-center">dl</div>
    </div>
</Layout>