---
import Layout from "../layouts/Layout.astro";
import BookDetails from "../components/BookDetails.vue";
import Book from "../assets/Enchanting_Book.gif";
const { libreriaMateriaId } = Astro.params;
---

<Layout>
    <div class="w-full h-screen grid grid-cols-2 grid-rows-1 gap-4 p-8">
      <div class="flex items-center justify-end rounded-lg">
        <div>
          <div class="flex justify-start items-start ">
            <a
            href="/"
            class="px-3 py-2 text-xs font-medium text-center rounded-lg dark:bg-gray-900 dark:hover:bg-gray-800"
            >
            Back
        </a>
        </div>
          <img transition:name="image-book"
            class="m-4 h-48 w-48 object-cover rounded-lg"
            src={Book.src}
            alt="Libro imagen"
          />
        </div>
        </div>
        
      <div class="flex justify-center flex-col gap-4 ">
        <BookDetails client:load libreriaMateriaId={String(libreriaMateriaId)}></BookDetails>
      </div>
    </div>

  </Layout>
  