---
import BookForm from "../components/BookForm.astro"
import Layout from "../layouts/Layout.astro"
---


<Layout>

    <div class="flex justify-center items-center h-screen">

        <BookForm />
    </div>

</Layout>