---
import BookForm from "../components/BookForm.vue"
import Layout from "../layouts/Layout.astro"
import imageSrc from '../assets/Book_and_Quill.png';

---


<Layout>

    <div class="flex justify-center items-center h-screen">
        <div class="w-full max-w-sm p-4 border rounded-lg shadow-sm sm:p-6 md:p-8 bg-gray-900 border-gray-700">
            <div class="flex flex-col justify-center items-center">
                <img transition:name="image-book" class="m-4 h-48 w-48 object-cover rounded-lg" src={imageSrc.src} alt="Libro imagen">
                <h5 class="text-xl font-medium">Register a Book</h5>
              </div>
        <BookForm server:defer />
        </div>
    </div>

</Layout>