---
import Layout from '../layouts/Layout.astro';
import book from '../assets/Enchanting_Table.gif';
import Book from '../components/book.astro';
import BookContent from '../components/BookContent.vue';
---

<Layout>

  <main class="m-4">
    <div class="flex justify-center items-center gap-16 py-20">
      <h1 class="text-6xl font-extrabold text-center">
        Astro
        <span class="block">Library</span>
      </h1>
      <img class="h-28 w-auto" src={book.src} alt="Book Image">
    </div>
  </main>
  <BookContent client:load/>
</Layout>
