---
import Layout from '../layouts/Layout.astro';
import book from '../assets/Enchanting_Table.gif';
import BookContent from '../components/BookContent.vue';

export const prerender = true;

const getBooks = async () => {
  console.log("entro al getBooks...");
  const res = await fetch("https://lenn343.somee.com/api/LibroMaterial/");
  const books = await res.json();
  console.log(books);
  return books;
};

const books = await getBooks();
---

<Layout>
  <main class="m-4">
    <div class="flex justify-center items-center gap-16 py-20">
      <h1 class="text-6xl font-extrabold text-center">
        Astro
        <span class="block">Library</span>
      </h1>
      <img transition:name="image-book" class="h-28 w-auto" src={book.src} alt="Book Image">
    </div>
  </main>
  <BookContent books={books} server:defer />

</Layout>
