

<div class="w-full max-w-sm p-4 border rounded-lg shadow-sm sm:p-6 md:p-8 bg-gray-900 border-gray-700">
    <form class="space-y-6" action="#">
        <h5 class="text-xl font-medium ">Register a book</h5>
        <div>
            <label for="text" class="block mb-2 text-sm font-medium">Title</label>
            <input type="text" name="name" id="name" class="border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white" placeholder="book's name" required />
        </div>
        <div>
            <label for="text" class="block mb-2 text-sm font-medium">Title</label>
            <input type="text" name="name" id="name" class="border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white" placeholder="book's name" required />
        </div>
        <div>
            <label for="text" class="block mb-2 text-sm font-medium">Title</label>
            <input type="text" name="name" id="name" class="border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white" placeholder="book's name" required />
        </div>
        <div>
            <label for="text" class="block mb-2 text-sm font-medium">Title</label>
            <input type="text" name="name" id="name" class="border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white" placeholder="book's name" required />
        </div>
        <div>
            <label for="date" class="block mb-2 text-sm font-medium">Date</label>
            <input type="date" name="password" id="password" placeholder="02/05/25" class=" border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white" required />
        </div>
        <div class="flex items-start">

        </div>
        <button type="submit" class="w-full text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-green-600 hover:bg-green-700 focus:ring-green-800">Add Book</button>
    </form>
</div>
