---
import cb from "../assets/Command_Block.gif";
---

<nav class="border-gray-200 bg-gray-900">
    <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
        <a
            href="/"
            class="flex justify-center items-end self-center text-2xl font-semibold whitespace-nowrap text-white"
        >
            <img class="h-10 pr-4" src={cb.src} alt="" />
            Lenn Library</a
        >
        <div class="hidden w-full md:block md:w-auto">
            <ul
                class="font-medium flex flex-col p-4 md:p-0 mt-4 border rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 bg-gray-900 border-gray-700"
            >
                <li>
                    <a
                        href="/"
                        class="block py-2 px-3 text-white hover:text-blue-500"
                        >books</a
                    >
                </li>
                <li>
                    <a
                        href="/Authors"
                        class="block py-2 px-3 text-white hover:text-blue-500"
                        >Authors</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
