---
import Navbar from "../components/navbar.astro"
import ClientRouter from "astro/components/ClientRouter.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Lenn Library</title>
		<ClientRouter/>
		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
		
	</head>
	<body class="bg-gray-800 text-white">
		<Navbar />
		<slot />
	</body>
</html>

<style>
</style>
